<p class="lead">
  <%= Permission.model_name.human(count: 2) %>
</p>
<%= render partial: "shared/backoffice/bread_crumb" %>
<div class="card mb-4">
  <div class="card-header">
    <%= Permission.model_name.human(count: 2) %>
  </div>
  <div class="card-body">
    <div class="table-responsive w-auto">
      <table id="datatablesSimple" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-9"><%= Permission.human_attribute_name("name") %></th>
          </tr>
        </thead>
        <tbody>
          <% @objects.each do |permission| %>
            <tr>
              <td><%= permission.id %></td>
              <td><%= permission.name %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-9"><%= Permission.human_attribute_name("name") %></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
