<% content_for :card_body do %>
  <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="card-body">
      <div class="small mb-3 text-muted"><%= t 'devise.title.edit_password' %></div>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-floating mb-3">
        <%= f.password_field :password, placeholder: "Password", type: "password", autofocus: "autofocus", class: "form-control" %>
        <%= f.label :password %>
      </div>
      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, placeholder: "Password", type: "password", autofocus: "autofocus", class: "form-control" %>
        <%= f.label :password_confirmation %>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit t('devise.buttons.change_password'), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<%= render partial: "shared/devise/template", locals: {header_title: t('devise.title.new_password') } %>
