<% content_for :card_body do %>
  <div class="small mb-3 text-muted"><%= t "devise.text.new_password" %></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-floating mb-3">
      <%= f.email_field :email, class: "form-control", placeholder: "E-mail", type: "email", autofocus: "autofocus" %>
      <%= f.label :email %>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
      <%= link_to t('devise.buttons.return_to_login'), session_path, class: "small" %>
      <%= f.submit t('devise.buttons.reset_password'), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<%= render partial: "shared/devise/template", locals: {header_title: t("devise.title.new_password")} %>
