<% content_for :card_header do %>
  <%= t 'layout.text.new', :gender => :f %> <%= Category.model_name.human %>
<% end %>
<% content_for :card_body do %>
  <%= form_with(model: [:backoffice, @object], remote: true, id: "backoffice_form") do |f| %>
    <div class="form-floating mb-3">
      <%= f.text_field :description, class: "form-control", placeholder: "#{Category.human_attribute_name(:description)}", type: "text", autofocus: "autofocus" %>
      <%= f.label :description %>
    </div>
  <% end %>
<% end %>
<%= render partial: "shared/backoffice/base_form", locals: {back_button_path: backoffice_categories_path, form_id: "backoffice_form"} %>
