<section id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <%= link_to backoffice_dashboard_path, class: "nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Dashboard
        <% end %>
        <%= link_to backoffice_categories_path, class: "nav-link" do %>
          <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
          <%= Category.model_name.human(count: 2) %>
        <% end %>
        <div class="sb-sidenav-menu-heading"><%= t 'layout.text.backoffice.management.title' %></div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
          <%= t 'layout.text.backoffice.management.users.title' %>
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <% if policy(current_user).can_read_and_write? %>
              <%= link_to t('layout.text.backoffice.management.users.new_user'), new_backoffice_user_path, class: "nav-link" %>
            <% end %>

            <% if policy(current_user).can_read? %>
              <%= link_to t('layout.text.backoffice.management.users.show_all'), backoffice_users_path, class: "nav-link" %>
            <% end %>
          </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-shield-halved"></i></div>
          Acessos
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
              Autorização
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav">
                <% if policy(current_user).can_read? %>
                  <%= link_to t('layout.text.backoffice.management.roles.show_all'), backoffice_roles_path, class: "nav-link" %>
                <% end %>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
              Permissão
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
              <nav class="sb-sidenav-menu-nested nav">
                <% if policy(current_user).can_read? %>
                  <%= link_to t('layout.text.backoffice.management.permissions.show_all'), backoffice_permissions_path, class: "nav-link" %>
                <% end %>
              </nav>
            </div>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Addons</div>
        <a class="nav-link" href="charts.html">
          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
          Charts
        </a>
        <a class="nav-link" href="tables.html">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Tables
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      <%= current_user.name %>
    </div>
  </nav>
</section>
