<div class="d-flex flex-row w-xxl-50  w-xl-50 w-lg-50 w-md-75 w-sm-100 align-items-center mx-auto my-auto">
  <div class="d-flex flex-column flex-fill justify-content-between">
    <%= render 'shared/backoffice/errors' %>
    <div class="card mb-4">
      <div class="card-header">
        <%= yield :card_header %>
      </div>
      <div class="card-body">
        <%= yield :card_body %>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-center justify-content-between mt-1 mb-1">
          <%= link_to t('layout.buttons.back'), back_button_path, class: "btn btn-secondary" %>
          <input type="submit"
                 name="commit"
                 class="btn btn-primary"
                 value=<%= t "helpers.submit.create" %>
                 data-disable-with=<%= t "helpers.submit.create" %>
                 form=<%= form_id %> />
        </div>
      </div>
    </div>
  </div>
</div>
