<div class="modal fade" id="sendMailModal" tabindex="-1" aria-labelledby="sendMailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sendMailModalLabel"><%= t 'layout.text.backoffice.management.users.send_email.title' %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"><%= t 'layout.text.backoffice.management.users.send_email.recipient' %>:</label>
            <input type="text" class="form-control" id="recipient-name" autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"><%= t 'layout.text.backoffice.management.users.send_email.message' %>:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t 'layout.buttons.close' %></button>
        <button type="button" class="btn btn-primary"><%= t 'layout.buttons.email.confirmation' %></button>
      </div>
    </div>
  </div>
</div>
