<% paginate ||= 'true' %>
<div class="row gx-2 row-cols-md-3 row-cols-lg-6 row-cols-xl-9 row-cols-xxl-12 justify-content-center">
  <% for item in @advertisements %>
    <div class="col mb-3">
      <div class="card h-100">
        <!-- Product image-->
        <%= image_tag(item.picture.variant(resize: "450x300!"), class: "card-img-top") %>
        <!-- Product details-->
        <div class="card-body p-4">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">
              <%= link_to item.title, 
                  site_advertisement_path(item.id), 
                  class: "btn"%>
            </h5>
            <small>
              <div data-read-only="true" data-score="<%= item&.rating&.estimate %>" data-raty></div>
            </small>
            <!-- Product price-->
            <%= humanized_money_with_symbol item.price %>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center">
            <%= link_to t('layout.action_text.view_options'), 
                site_advertisement_path(item.id), 
                class: "btn btn-outline-dark mt-auto" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center mb-3 mt-3">
  <% if paginate =='true' %>
    <%= paginate @advertisements %>
  <% end %>
</div>
