<div class="d-flex flex-row pt-3 w-xxl-80  w-xl-80 w-lg-80 w-md-80 w-sm-100 align-items-center mx-auto my-auto">
  <div class="d-flex flex-column flex-fill justify-content-between">
    <%= render 'shared/errors' %>
    <div class="card mb-4">
      <div class="card-header">
        <%= yield :card_header %>
      </div>
      <div class="card-body">
        <%= yield :card_body %>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-center justify-content-between mt-1 mb-1">
          <input type="submit"
                 name="commit"
                 class="btn btn-primary"
                 data-remote="true"
                 value="<%= t(action_name == "new" || action_name == "create" ? "helpers.submit.create" : "helpers.submit.update", model: "") %>"
                 data-disable-with="<%= t action_name == "new" || action_name == "create"? "helpers.submit.create" : "helpers.submit.update" %>"
                 form="<%= form_id %>"
          />
          <%= link_to t('layout.buttons.back'), back_button_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
