<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light" id="navbar">
  <div class="container px-4 px-lg-5">
    <%= link_to t('layout.text.app_name'), root_path, class: "navbar-brand text-secondary" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <%= link_to t('site.navigation_bar.home'), site_home_path, class: "nav-link text-secondary active", "aria-current": "page", data: { turbolinks: "true" } %>
        </li>
        <li class="nav-item">
          <%= link_to t('site.navigation_bar.about'), site_home_path, class: "nav-link text-secondary", "aria-current": "page", data: { turbolinks: "true" } %>
        </li>
        <li class="nav-item dropdown me-4">
          <a class="nav-link dropdown-toggle text-secondary" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('site.navigation_bar.shop') %>
          </a>
          <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-secondary" href="#!"><%= t 'site.navigation_bar.all_products' %></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-secondary" href="#!"><%= t 'site.navigation_bar.popular_items' %></a></li>
            <li><a class="dropdown-item text-secondary" href="#!"><%= t 'site.navigation_bar.new_arrivals' %></a></li>
          </ul>
        </li>
        <% if controller_name != "member_profile" %>
          <li class="nav-item">
            <%= form_with(url: search_site_advertisements_path, method: "get", class: "d-flex", role: "search") do %>
              <%= text_field_tag(:q, nil, class: "form-control me-3", type: "search", placeholder: "Search",  "aria-label": "Search") %>
              <%= submit_tag("Search", class: "btn btn-outline-success", data: {turbolinks: "true"} ) %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex me-4">
        <button class="btn btn-outline-dark text-secondary" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-secondary ms-1 rounded-pill">0</span>
        </button>
      </form>
      <div class="d-flex p-2">
        <% unless member_signed_in? %>
          <%= link_to "Login",
                      new_member_session_path,
                      class: "btn text-secondary",
                      data: {"bs-toggle": "modal", "bs-target": "#app_modal" },
                      remote: true %>
        <% else %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_member.name %>
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to site_profile_member_profile_path(current_member), class: "dropdown-item text-secondary", data: { turbolinks: "true" } do %>
                  <%= t 'layout.buttons.profile' %>
                <% end %>
              </li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li>
                <%= link_to destroy_member_session_path, method: :delete, class: "dropdown-item text-secondary", data: { turbolinks: "true" } do %>
                  <%= t 'layout.buttons.logout' %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
