<%= form_with(model: [:backoffice, @object], remote: true) do |f| %>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <% if @object.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show">
          <% @object.errors.full_messages.each do |message| %>
            <ul>
              <li>
                <%= message %>
              </li>
            </ul>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <div class="card mb-4">
        <div class="card-header">
          <% if action_name == 'new' %>
            <%= t 'layout.text.new' %>
          <% else %>
            <%= t 'layout.text.updating' %>
          <% end %>
          <%= User.model_name.human %>
        </div>
        <div class="card-body">
          <div class="form-floating mb-3">
            <%= f.text_field :name,
              class: "form-control",
              placeholder: "#{User.human_attribute_name(:name)}",
              type: "name",
              autofocus: "autofocus" %>
            <%= f.label :name %>
          </div>
          <div class="form-check mb-3">
            <%= f.label :roles %>
            <%= f.collection_check_boxes(:role_ids, Role.all, :id, :name)  do |b| %>
              <div class="form-check">
                <%= b.label(class: "form-check-label") { b.check_box(class: "form-check-input") + b.text } %>
              </div>
            <% end %>
          </div>
          <div class="form-floating mb-3">
            <%= f.email_field :email,
              class: "form-control",
              placeholder: "#{User.human_attribute_name(:email)}",
              type: "email",
              autofocus: "autofocus" %>
            <%= f.label :email %>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password,
              class: "form-control",
              placeholder: "#{User.human_attribute_name(:password)}",
              type: "password",
              autofocus: "autofocus" %>
            <%= f.label :password %>
          </div>
          <div class="form-floating mb-3">
            <%= f.email_field :password_confirmation,
                class: "form-control",
                placeholder: "#{User.human_attribute_name(:password_confirmation)}",
                type: "password",
                autofocus: "autofocus" %>
            <%= f.label :password_confirmation %>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <%= link_to t('layout.buttons.back'), backoffice_users_path, class: "btn btn-secondary" %>
            <%= f.submit t('layout.buttons.save'), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
<% end %>
