<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EscamboApp">
    <meta name="author" content="Guilherme Caixeta">
    <title><%= t 'layout.text.app_name' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'profile', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'site', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main>
      <%= render partial: "shared/site/navigation" %>
      <section class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <section class="border-end bg-dark" id="sidebar-wrapper">
          <div class="sidebar-heading text-secondary text-center">
            <%= t 'site.aside_menu.title' %>
          </div>
          <div class="list-group list-group-flush">
            <% if policy_for(current_member, Site::Profile::DashboardController.controller_path).can_read? %>
              <%= link_to t('site.dashboard.title'), site_profile_dashboard_index_path, remote: true, class: "list-group-item-action text-secondary p-3" %>
            <% end %>
            <% if policy_for(current_member, Site::Profile::AdvertisementsController.controller_path).can_read? %>
              <%= link_to t('site.ads.title'), site_profile_advertisements_path, remote: true, class: "list-group-item-action text-secondary p-3" %>
            <% end %>
          </div>
        </section>
        <!-- Page content wrapper-->
        <section id="page-content-wrapper">
          <!-- Page content-->
          <section id="main_section" class="container-fluid">
            <%= yield %>
          </section>
        </section>
      </section>
      <%= render partial: "shared/site/footer" %>
    </main>
    <%= render partial: "shared/spin" %>
    <%= render partial: "shared/modal" %>
  </body>
</html>
